@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --card-color: #d4d4d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --card-color: #262626;
  }
}

@theme {
  --color-primary: #2563eb;
  --color-hover-primary: #3b82f6;
  --color-accent: #f59e0b;
  --color-hover-accent: #fbbf24;

  --color-card: var(--card-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
